<div class="container"><br/><br/>
    <mat-tab-group>
    
        <mat-tab label="All users"> <br/><br/>
            <table class="table table-dark" style="overflow-x: hidden;">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Surname</th>
                    <th scope="col">Email</th>
                    <th scope="col">City</th>
                    <th scope="col">Phone number</th>
                </tr>
                </thead>
                <tbody *ngFor="let user of users">
                <tr>
                    <th scope="row">{{user.id}}</th>
                    <td>{{user.name}}</td>
                    <td>{{user.surname}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.city}}</td>
                    <td>{{user.phoneNumber}}</td>
                    <td><button type="button" class="btn btn-danger" style="width: auto;" (click)="DeleteUser(user.email)">Delete user</button></td>
                </tr>
                </tbody>
            </table>
        </mat-tab>
        
        <mat-tab label="All companies" ><br/><br/>
            <table class="table table-dark" style="overflow-x: hidden;">
                <caption style="align-content: center;">All companies</caption>
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">City</th>
                    <th scope="col">State</th>
                    <th scope="col">Address</th>
                    <th scope="col">Promo description</th>
                </tr>
                </thead>
                <tbody *ngFor="let company of companies">
                <tr>
                    <th scope="row">{{company.id}}</th>
                    <td>{{company.name}}</td>
                    <td>{{company.city}}</td>
                    <td>{{company.state}}</td>
                    <td>{{company.address}}</td>
                    <td>{{company.promoDescription}}</td>
                    <td><button type="button" class="btn btn-danger" style="width: auto;" (click)="DeleteCompany(company.id)">Delete company</button></td>
                </tr>
                </tbody>
            </table>
        </mat-tab>

        <mat-tab label="All reservations">
           <table class="table table-dark" style="overflow-x: hidden;">
                <thead>
                <tr>
                    <th scope="col">Resrvation date</th>
                    <th scope="col">Service name</th>
                    <th scope="col">Branch office name</th>
                    <th scope="col">User name</th>
                </tr>
                </thead>
                <tbody *ngFor="let reservation of reservations">
                <tr>
                    <td>{{reservation.reservationFrom}}-{{reservation.reservationTo}}</td>
                    <td>{{reservation.serviceName}}</td>
                    <td>{{reservation.branchName}}</td>
                    <td>{{reservation.userName}}</td>
                </tr>
                </tbody>
            </table>
        </mat-tab>
    </mat-tab-group>
</div>
