<div class="container" *ngIf="airline_info"><br/>
    <h2>{{airline_info.name}}</h2>
    <h6>{{airline_info.promo_Description}}</h6><br/>
    <div class="search_bord">
        <form>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label style="font-size: 24px; color: purple;">Serach flight</label>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <input style="width: 100px; " type="text" name="from" placeholder="From..">
                    <mdb-icon fas icon="arrow-right"></mdb-icon>
                    <input style="width: 100px;" type="text" name="to" placeholder="To..">
                </div>
                <div class="form-group col-md-3">
                    <input onfocus="(this.type='date')" onblur="(this.type='text')" type="date" name="from" placeholder="Depart">
                </div>
                <div class="form-group col-md-3">
                    <input onfocus="(this.type='date')" onblur="(this.type='text')" type="date" name="from" placeholder="Return">
                </div>
                <div class="form-group col-md-2">
                    <button style="border:none"><mdb-icon fas icon="search" aria-hidden="true"></mdb-icon></button>
                </div>
            </div>
        </form>
    </div><br/><br/>
    <label style="font-size: 24px; color: purple;">We flight to:</label><br/>
    <div class="flights" *ngFor="let destination of destinations">
        <!--<image src="" alt="destination_image" style="height: 50px; width: 50px;"></image>-->
        <a style="font-size: 18px;" href="#" style="font-size: 20px;">{{destination.name}}</a>
    </div>
    <hr/>
    <footer>
        <p>Airline address: {{airline_info.address_}}</p>
    </footer>
</div>
