<div class="container"><br/><br/>
    <mat-tab-group>
    
        <mat-tab label="My account"> 
            <div *ngIf="user"><br/><br/>
                <label style="font-size: 36px; color: purple;">{{user.name}} {{user.surname}}</label><br/>
                <label style="font-size: 24px;">E-mail: <label style="font-size: 24px; color: purple;">{{user.email}}</label></label><br/>
                <label style="font-size: 24px;">City: <label style="font-size: 24px; color: purple;">{{user.city}}</label></label><br/>
                <label style="font-size: 24px;">Phone number: <label style="font-size: 24px; color: purple;">{{user.phoneNumber}}</label></label><br/>
            </div><br/>

            <button type="button" class="btn btn-danger" (click)="DeleteAccount()">Delete account</button>
        </mat-tab>
        
        <mat-tab label="Edit profile" ><br/><br/>
            <div style="overflow: hidden;">
                <form #form1='ngForm' (submit)="Edit(form1)" *ngIf="user">
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label class="formlabel">Name</label>
                            <input type="text" class="form-control" #Name="ngModel" name="Name" [(ngModel)]="user.name" [class.is-invalid]="Name.invalid && Name.touched" required>
                            <label class="text-danger" [class.d-none] = "Name.valid || Name.untouched">Required field!</label>
                        </div>
                        <div class="form-group col-md-3">
                            <label class="formlabel">Surname</label>
                            <input type="text" class="form-control" #Surname="ngModel" name="Surname" [(ngModel)]="user.surname" [class.is-invalid]="Surname.invalid && Surname.touched" required>
                            <label class="text-danger" [class.d-none] = "Surname.valid || Surname.untouched">Required field!</label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label class="formlabel">City</label>
                            <input type="text" class="form-control" #City="ngModel" name="City" [(ngModel)]="user.city" [class.is-invalid]="City.invalid && City.touched" required>
                            <label class="text-danger" [class.d-none] = "City.valid || City.untouched">Required field!</label>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="formlabel">Phone number</label>
                            <input class="form-control" #PhoneNumber="ngModel" pattern="^^[0-9]*$" minlength="9" name="PhoneNumber" [(ngModel)]="user.phoneNumber" [class.is-invalid]="PhoneNumber.touched" required>
                            <label class="text-danger" [class.d-none] = "PhoneNumber.valid || PhoneNumber.untouched">Required field!</label>
                             <small class="text-danger" *ngIf="PhoneNumber.errors?.pattern">
                                Phone number must contain only numbers! </small>
                                <small class="text-danger" *ngIf="PhoneNumber.errors?.minlength">
                                    Phone number must 9 numbers! </small>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-8 offset-md-2">
                            <button type="submit" class="btn btn-lg btn-block loginbtn" [disabled]="form1.form.invalid">Edit</button>
                        </div>
                    </div>
                </form>
            </div>
        </mat-tab>
        <mat-tab label="Change password">
            <div style="overflow: hidden;">
                <form [formGroup]="service.formModel2" (submit)="changePassword()">
                    <div formGroupName="Passwords">
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label class="formlabel">New password</label>
                                <input [type]="fieldTextType ? 'text' : 'password'" class="form-control" id="Password1" placeholder="Password.." formControlName="Password">
                                <label class="text-danger" *ngIf="service.formModel2.get('Passwords.Password').touched && service.formModel2.get('Passwords.Password').errors?.required">This
                                    field is required.</label>
                                <label class="text-danger" *ngIf="service.formModel2.get('Passwords.Password').errors?.pattern">Has to have
                                    8 characters with least 1 symbol, uppercase letter and number.</label>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label class="formlabel">Confirm password</label>
                                <div class="input-group" >
                                    <input [type]="fieldTextType ? 'text' : 'password'" class="form-control" id="ConfirmPassword" placeholder="Confirm password.." formControlName="ConfirmPassword">
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="fa" [ngClass]="{'fa-eye-slash': !fieldTextType,'fa-eye': fieldTextType}" (click)="toggleFieldTextType()"></i>
                                        </span>
                                    </div>
                                </div>
                                <label class="text-danger" *ngIf="service.formModel2.get('Passwords.ConfirmPassword').touched && service.formModel2.get('Passwords.ConfirmPassword').errors?.required">This
                                    field is required.</label>
                                <label class="text-danger" *ngIf="service.formModel2.get('Passwords.ConfirmPassword').touched && service.formModel2.get('Passwords.ConfirmPassword').errors?.passwordMismatch">
                                    Passwords does not match.</label>
                            </div>
                        </div>
                    </div><br/>
                    <div class="form-row">
                        <div class="form-group col-md-8 offset-md-2">
                            <button type="submit" class="btn btn-lg btn-block loginbtn" [disabled]="!service.formModel2.valid">Change password</button>
                        </div>
                    </div>
                </form>
            </div>
        </mat-tab>
        
        <mat-tab *ngIf="role=='Admin'" label="Add admin" >
            <div style="overflow: hidden;">
                <form [formGroup]="systemservice.formModel1" (submit)="onSubmit()">
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label class="formlabel">Name</label>
                            <input type="text" class="form-control" id="Name" placeholder="Name.." formControlName="Name">
                            <label class="text-danger" *ngIf="systemservice.formModel1.get('Name').touched && systemservice.formModel1.get('Name').errors?.required">This
                            field is required.</label>
                        </div>
                        <div class="form-group col-md-3">
                            <label class="formlabel">Surname</label>
                            <input type="text" class="form-control" id="Surname" placeholder="Surname.." formControlName="Surname">
                            <label class="text-danger" *ngIf="systemservice.formModel1.get('Surname').touched && systemservice.formModel1.get('Surname').errors?.required">This
                            field is required.</label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label class="formlabel">Email (Username)</label>
                            <input type="email" class="form-control" id="Email" placeholder="Email.." formControlName="Email">
                            <label class="text-danger" *ngIf="systemservice.formModel1.get('Email').touched && systemservice.formModel1.get('Email').errors?.email">Invalid
                                email address.</label>
                            <label class="text-danger" *ngIf="systemservice.formModel1.get('Email').touched && systemservice.formModel1.get('Email').errors?.required">This
                                field is required.</label>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="formlabel">Phone number</label>
                            <input class="form-control" id="PhoneNumber" placeholder="Phone number.." formControlName="PhoneNumber">
                            <label class="form-control-feedback" *ngIf="systemservice.formModel1.get('PhoneNumber').errors && (systemservice.formModel1.get('PhoneNumber').dirty || systemservice.formModel1.get('PhoneNumber').touched)">
                                <p *ngIf="systemservice.formModel1.get('PhoneNumber').errors.pattern" class="text-danger">Number Only</p>
                            </label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label class="formlabel">City</label>
                            <input type="text" class="form-control" id="City" placeholder="City.." formControlName="City">
                            <label class="text-danger" *ngIf="systemservice.formModel1.get('City').touched && systemservice.formModel1.get('City').errors?.required">This
                                field is required.</label>
                        </div>
                    </div>
                    <div formGroupName="Passwords">
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label class="formlabel">Password</label>
                                <input [type]="fieldTextType ? 'text' : 'password'" class="form-control" id="Password1" placeholder="Password.." formControlName="Password">
                                <label class="text-danger" *ngIf="systemservice.formModel1.get('Passwords.Password').touched && systemservice.formModel1.get('Passwords.Password').errors?.required">This
                                    field is required.</label>
                                <label class="text-danger" *ngIf="systemservice.formModel1.get('Passwords.Password').errors?.pattern">Has to have
                                    8 characters with least 1 symbol, uppercase letter and number.</label>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="formlabel">Confirm password</label>
                                <div class="input-group" >
                                    <input [type]="fieldTextType ? 'text' : 'password'" class="form-control" id="ConfirmPassword" placeholder="Confirm password.." formControlName="ConfirmPassword">
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="fa" [ngClass]="{'fa-eye-slash': !fieldTextType,'fa-eye': fieldTextType}" (click)="toggleFieldTextType()"></i>
                                        </span>
                                    </div>
                                </div>
                                <label class="text-danger" *ngIf="systemservice.formModel1.get('Passwords.ConfirmPassword').touched && systemservice.formModel1.get('Passwords.ConfirmPassword').errors?.required">This
                                    field is required.</label>
                                <label class="text-danger" *ngIf="systemservice.formModel1.get('Passwords.ConfirmPassword').touched && systemservice.formModel1.get('Passwords.ConfirmPassword').errors?.passwordMismatch">
                                    Passwords does not match.</label>
                            </div>
                        </div>
                    </div><br/>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label class="formlabel">Admin</label>
                                <select formControlName="Admin" class="form-control">
                                    <option value="airline">Airline admin</option>
                                    <option value="rent-a-car">Rent-a-car admin</option>
                                    <option value="system">System admin</option>
                                </select>
                                <label class="text-danger" *ngIf="systemservice.formModel1.get('Admin').touched && systemservice.formModel1.get('Admin').errors?.required">
                                    You must select the administrator role that you want to add.</label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-8 offset-md-2">
                            <button type="submit" class="btn btn-lg btn-block loginbtn" [disabled]="!systemservice.formModel1.valid">Register admin</button>
                        </div>
                    </div>
                </form>
            </div>
        </mat-tab>

        <mat-tab *ngIf="role=='Admin'" label="Discounts"> <br/>
            <small style="color: red;">If you put 0 in the points field or in the discount field, you will delete the discount.</small>
                <table class="table table-dark" style="overflow-x: hidden;">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Points</th>
                        <th scope="col">Discount</th>
                    </tr>
                    </thead>
                </table>
                <form #form2='ngForm' (submit)="EditDiscount(form2, discount.id)" *ngFor="let discount of discounts">
                    <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row" style="width: 200px;">{{discount.id}}</th>
                            <td><input type="number" #Points="ngModel" name="Points" [(ngModel)]="discount.points"></td>
                            <td><input type="number" #Discount="ngModel" style="width: 50px;" name="Discount" [(ngModel)]="discount.discount">%</td>
                            <td><button type="number" type="submit" style="float: right; width: 100px;" class="btn btn-dark">Edit/Delete</button></td>
                        </tr>
                    </tbody>
                    </table>
                </form>

                <p style="color: purple; font-size:24px"> Add new discount</p>
                <form [formGroup]="systemservice.formModel3" (submit)="addDiscount()">
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label class="formlabel">Points</label>
                            <input type="number" class="form-control" id="Points" placeholder="Points.." formControlName="Points">
                            <label class="form-control-feedback" *ngIf="systemservice.formModel3.get('Points').errors && (systemservice.formModel3.get('Points').dirty || systemservice.formModel3.get('Points').touched)">
                                Field is required.</label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label class="formlabel">Discount</label>
                            <input type="number" class="form-control" id="Discount" placeholder="Discount.." formControlName="Discount">
                            <label class="form-control-feedback" *ngIf="systemservice.formModel3.get('Discount').errors && (systemservice.formModel3.get('Discount').dirty || systemservice.formModel3.get('Discount').touched)">
                                Field is required.</label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-8 offset-md-2">
                            <button type="submit" class="btn btn-lg btn-block loginbtn" [disabled]="!systemservice.formModel3.valid">Add discount</button>
                        </div>
                    </div>
                </form>
        </mat-tab>

        <mat-tab *ngIf="role=='User'" label="Reservations">
            <table class="table table-dark" style="overflow-x: hidden;">
                <thead>
                <tr>
                    <th scope="col">Resrvation date</th>
                    <th scope="col">Service name</th>
                    <th scope="col">Branch office name</th>
                    <th scope="col">User name</th>
                </tr>
                </thead>
                <tbody *ngFor="let reservation of reservations">
                <tr>
                    <td>{{reservation.reservationFrom}}-{{reservation.reservationTo}}</td>
                    <td>{{reservation.serviceName}}</td>
                    <td>{{reservation.branchName}}</td>
                    <td>{{reservation.userName}}</td>
                </tr>
                </tbody>
            </table>
        </mat-tab>
        <mat-tab *ngIf="role=='User'" label="Old reservations">
            <table class="table table-dark" style="overflow-x: hidden;">
                <thead>
                <tr>
                    <th scope="col">Resrvation date</th>
                    <th scope="col">Service name</th>
                    <th scope="col">Branch office name</th>
                    <th scope="col">User name</th>
                </tr>
                </thead>
                <tbody *ngFor="let oldReservation of oldReservations">
                <tr>
                    <td>{{oldReservation.reservationFrom}}-{{oldReservation.reservationTo}}</td>
                    <td>{{oldReservation.serviceName}}</td>
                    <td>{{oldReservation.branchName}}</td>
                    <td>{{oldReservation.userName}}</td>
                </tr>
                </tbody>
            </table>
        </mat-tab>
        
        <mat-tab *ngIf="role=='User'" label="Services for raiting">
            <div class="companies" *ngFor="let rentacarCompany of rentacarCompanies">
                <label style="font-size:24px; color: purple;"><b>{{rentacarCompany.name}}</b></label>
                <ngb-rating style="float: right;" [max]="5" [(rate)]="currentRate" [readonly]="false" (rateChange)="onRateService($event,rentacarCompany.id)"></ngb-rating><br/>
                <label style="font-size:14px;">{{rentacarCompany.serviceCity}}, {{rentacarCompany.state}}</label><br/>
                <label style="font-size:14px;">Address: {{rentacarCompany.address}}</label><br/>
                <label style="font-size:20px;">{{rentacarCompany.promoDescription}}</label><br/>
        </div><br/><br/><br/>
        </mat-tab>
    </mat-tab-group>
</div>
