input[type=text], input[type=date], select {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
  }
  
.search{
  box-shadow: 5px 10px #888888;
  background-color: rgb(158, 62, 158);
  width: 80%;
  margin: auto;
}

.companies{
  border: 1px solid black;
  padding: 10px;
  width: 60%;
  margin: auto;
  border-radius: 25px;
  transition: transform .2s;
  background-color: white;
}
.companies:hover {
  transform: scale(1.2); 
}
