<div class="container"><br/><br/>
    <mat-tab-group>
    
        <mat-tab label="Airline company"> 
            <div style="overflow: hidden;" class="search">
                <form #form='ngForm' (submit)="SearchAirlines(form)" style="padding: 50px; padding-bottom: 5%;">
                    <div class="form-row">
                        <div class="form-group col-md-auto">
                            <label style="color: white;">Name of airline company</label><br/>
                            <select style="width: 200px; height: 30px;" id="Name">
                                <option selected value="">Airlines</option>
                                <option *ngFor="let airline of airlines" value="{{airline}}" #Name="ngModel" [(ngModel)]="search.Name">{{airline}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-auto">
                            <label style="color: white;">City of airline company</label><br/>
                             <input style="width: 200px;" type="text" placeholder="City.." name="City" #City="ngModel" [(ngModel)]="search.City">
                        </div> 
                        <div class="form-group col-md-auto">
                            <label style="color: white;">State of airline company</label><br/>
                             <input style="width: 200px;" type="text" placeholder="State.." name="State" #Satet="ngModel" [(ngModel)]="search.State">
                        </div>
                        <div class="form-group col-md-auto" style="padding-top: 30px;">
                            <button data-toggle="tooltip" title="Search" type="submit" class="btn btn-default" style="padding-top: 2px;">
                                <span class="fa fa-search"></span> 
                            </button>
                        </div>
                    </div>
                </form>
            </div><br/><br/>

            <div class="comanies" *ngFor="let airlinesCompany of airlinesCompanies">
                <label style="font-size:24px; color: purple;">{{airlinesCompany.name}}</label>
                <button type="button" class="btn btn-info" style="float: right;" (click)="ProfileAirline(airlinesCompany.name)">More</button><br/>
                <label style="font-size:20px;">{{airlinesCompany.city}}, {{airlinesCompany.state}}</label><br/>
                <label style="font-size:20px;">{{airlinesCompany.address}}</label><br/>
                <label style="font-size:20px;">{{airlinesCompany.promoDescription}}</label><br/>
            </div><br/>
        </mat-tab>
        
        <mat-tab label="Car rent"><br/>
            <div style="overflow: hidden;" class="search">
                <form (submit)="SearchServices()"  style="padding: 50px; padding-bottom: 5%;">
                    <div class="form-row">
                        <div class="form-group col-md-auto">
                            <label style="color: white;">Name of rent-a-car service:</label><br/>
                            <select style="width: 200px; height: 30px;" id="Name" #Name="ngModel" name="Name" [(ngModel)]="search.Name">
                                <option value="" selected>Names</option>
                                <option *ngFor="let rentservice of rentservices" value="{{rentservice}}">{{rentservice}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-auto">
                            <label style="color: white;">City of rent-a-car service:</label><br/>
                             <input style="width: 200px;" type="text" placeholder="City.." name="City" #City="ngModel" [(ngModel)]="search.City">
                        </div> 
                        <div class="form-group col-md-auto">
                            <label style="color: white;">State of rent-a-car service:</label><br/>
                             <input style="width: 200px;" type="text" placeholder="State.." name="State" #Satet="ngModel" [(ngModel)]="search.State">
                        </div>
                        <div class="form-group col-md-auto" style="padding-top: 30px;">
                            <button data-toggle="tooltip" title="Search" type="submit" class="btn btn-default" style="padding-top: 2px;">
                                <span class="fa fa-search"></span> 
                            </button>
                        </div>
                    </div>
                </form>
            </div><br/><br/>

            <div class="companies" *ngFor="let rentacarCompany of rentacarCompanies">
                <label style="font-size:24px; color: purple;">{{rentacarCompany.name}}</label>
                <button type="button" class="btn btn-info" style="float: right;" (click)="ProfileService(rentacarCompany.name)">More</button><br/>
                <label style="font-size:14px;">{{rentacarCompany.city}}, {{rentacarCompany.state}}</label><br/>
                <label style="font-size:14px;">{{rentacarCompany.address}}</label><br/>
                <label style="font-size:20px;">{{rentacarCompany.promoDescription}}</label><br/>
            </div><br/><br/><br/>
        </mat-tab>
    </mat-tab-group>
</div>
