<div class="container"><br/>
    <p style="font-size: 36px; color: purple;">Add new vehicle</p><br/> <br/>
    <section class="create" *ngIf="vehicle">
        <div style="overflow: hidden;">
            <form>
                <div class="form-group">
                    <label for="Brand">Brand</label>
                    <input type="text" class="form-control" id="Brand" name="Brand" placeholder="Brand.." [(ngModel)]="vehicle.brand" required>
                </div>
                <div class="form-group">
                    <label for="NumberOfSeats">Number of seats</label>
                    <input type="number" class="form-control" id="NumberOfSeats" name="NumberOfSeats" placeholder="NumberOfSeats.." [(ngModel)]="vehicle.numberOfSeats" required>
                </div>
                <div class="form-group">
                    <label for="Class">Class</label>
                    <input type="text" class="form-control" id="Class" name="Class" placeholder="Class.." [(ngModel)]="vehicle.class" required>
                </div>
                <div class="form-group">
                    <label for="Price">Price per day</label>
                    <input type="number" data-toggle="tooltip" data-placement="top" title="Prices are expressed in $" class="form-control" id="Price" name="Price" placeholder="Price.." [(ngModel)]="vehicle.price" required>
                </div>
                <div class="form-group">
                    <label for="Image">Imge</label>
                    <img [src]="createImgPath(vehicle.image)" alt="vehicle picture" style="width:60px; height:60px;">
                </div>
                <app-upload (onUploadFinished)="uploadFinished($event)"></app-upload>
                <div class="row">
                  <div class="offset-md-5 col-md-2">
                    <button type="button" class="btn btn-dark" style="width: 200px;" (click)="onCreate()">Change vehicle information</button>
                  </div>
                </div>
              </form>
        </div>
    </section>
</div>
