<div class="container"><br/><br/>
    <p style="font-size: 36px; color:purple"> Add new branch</p>
    <form [formGroup]="service.formModel1" (submit)="AddBranch()">
        <div class="form-row">
            <div class="form-group col-md-3">
                <label class="formlabel">Name</label>
                <input type="text" class="form-control" id="Name" placeholder="Name.." formControlName="Name" required>
                <label class="text-danger" *ngIf="service.formModel1.get('Name').touched && service.formModel1.get('Name').errors?.required">This
                field is required.</label>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label class="formlabel">Address:</label>
                <input type="text" class="form-control" id="Address" placeholder="Address.." formControlName="Address" required>
                <label class="text-danger" *ngIf="service.formModel1.get('Address').touched && service.formModel1.get('Address').errors?.required">This
                field is required.</label>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label class="formlabel">City:</label>
                <input type="text" class="form-control" id="City" placeholder="City.." formControlName="City" required>
                <label class="text-danger" *ngIf="service.formModel1.get('City').touched && service.formModel1.get('City').errors?.required">This
                field is required.</label>
            </div>
            <div class="form-group col-md-3">
                <label class="formlabel">State:</label>
                <input type="text" class="form-control" id="State" placeholder="State.." formControlName="State" required>
                <label class="text-danger" *ngIf="service.formModel1.get('State').touched && service.formModel1.get('State').errors?.required">This
                field is required.</label>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label class="formlabel">Number of vehicle:</label>
                <input type="number" class="form-control" id="NumberOfVehicle" placeholder="Number of vehicle.." formControlName="NumberOfVehicle" required>
                <label class="text-danger" *ngIf="service.formModel1.get('NumberOfVehicle').touched && service.formModel1.get('NumberOfVehicle').errors?.required">This
                field is required.</label>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-8 offset-md-2">
                <button type="submit" class="btn btn-lg btn-block loginbtn" [disabled]="!service.formModel1.valid">Add branch</button>
            </div>
        </div>
    </form>
</div>>
